Repository Neoneue/markdownlint-clean: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

Add example pre-commit hook with comprehensive checks
  pre-commit
Due: none

Add GitHub Actions workflow and update package.json
  .github/workflows/markdown-lint.yml
  package.json
Due: prettier --write

Update package.json with correct GitHub repository URL
  package.json
Due: prettier --write

Add comprehensive markdown error handling and fix CI
  README.md
  fix-all-markdown-errors.sh
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix

Fix all markdown lint errors in README.md
  README.md
Due: prettier --write, markdownlint --fix

Fix Prettier formatting issues in README.md
  README.md
Due: prettier --write, markdownlint --fix

Transform into npm package with CLI commands
  README.md
  bin/cli.js
  bin/fix.js
  bin/setup.js
  index.js
  package.json
Due: eslint --fix, prettier --write, markdownlint --fix

Rename package to 'markdownlint-clean'
  README.md
  bin/cli.js
  index.js
  package.json
Due: eslint --fix, prettier --write, markdownlint --fix

Fix Prettier formatting in README.md
  README.md
Due: prettier --write, markdownlint --fix

Update README.md
  README.md
Due: prettier --write, markdownlint --fix

Update package-lock.json after npm publish
  package-lock.json
Due: prettier --write

Update README with correct repository URLs and npm badges
  README.md
Due: prettier --write, markdownlint --fix

Update README with correct repository URLs and npm badges (#2)
  README.md
  package-lock.json
Due: prettier --write, markdownlint --fix

Update README with correct repository URLs and npm badges
  README.md
  package-lock.json
Due: prettier --write, markdownlint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,html})) or (any of: *.md)) or (any of: package.json)
  markdownlint --fix: any of: *.md
